<nav class="navbar" [class.navbar-scrolled]="isScrolled()">
  <div class="container">
    <a class="navbar-brand" href="#">Maison Éclat</a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.show]="isMenuOpen()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="#hero">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#about">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="#menu">Menú</a></li>
        <li class="nav-item"><a class="nav-link" href="#reservation">Reservas</a></li>
        <li class="nav-item"><a class="nav-link" href="#contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>
